.App {
    .app-header, .app-main, .app-footer {
        left: 0;
        position: absolute;
        right: 0;
    }

    .app-header {
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
        color: #7E8588;
        height: 50px;
        left: 0;
        padding: 0 15px;
        top: 0;
        z-index: 5;

        .app-name {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }
    }

    .app-main {
    background: #f5f5f5;
        bottom: 0;
        position: absolute;
        top: 50px;
    }
}
