.button {
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
}

.button.compact {
    padding: 0.15rem 0.35rem;
}

.button.filled {
    background-color: var(--frost2);
    border: none;
    color: var(--white);
}

.button.filled:active,
.button.filled:focus,
.button.filled:hover {
    background-color: var(--frost3);
}

.button.outlined {
    background-color: transparent;
    border: 1px solid var(--frost2);
    color: var(--frost3);
}

.button.outlined:active,
.button.outlined:focus,
.button.outlined:hover {
    background-color: var(--snow2);
    border: 1px solid var(--frost3);
}

.button.subtle {
    background-color: var(--snow2);
    color: var(--frost3);
}

.button.subtle:active,
.button.subtle:focus,
.button.subtle:hover {
    background-color: var(--snow1);
}
