@import url('nord.css');

:root {
    --border-radius: 2px;
    --border-width: 1px;

    --box-shadow-lt: 0 0 10px 5px var(--snow1);
    --box-shadow-md: 0 0 10px 5px var(--snow0);

    --font-size-sm: 0.85rem;
    --font-weight-semibold: 600;

    --padding-xs: 0.25rem;
    --padding-sm: 0.5rem;
    --padding-md: 0.75rem;
    --padding-lg: 1.25rem;
    --padding-xl: 1.50rem;

    --margin-xs: 0.25rem;
    --margin-sm: 0.5rem;
    --margin-md: 1.0rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2.0rem;
    --white: #fff;

    background-color: var(--snow1);
    color: var(--polar0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

input, textarea {
    font-family: unset;
    font-size: 1rem;
}

:focus {
    outline: none;
}

/*
 * default to "medium" thickness for buttons and links to make keyboard
 * nav more apparent, relative to inputs where "thin" looks better
 */
:focus-visible {
    outline: var(--frost2) solid;
}

/*
 * :focus-visible is applied to input and textarea elements regardless of
 * whether they were activated by keyboard or mouse click
 */
input:focus-visible,
textarea:focus-visible {
    outline-width: thin;
}

#__next {
    display: flex;
    height: 100%;
}
