@import url('nord.css');

:root {
    --white: #fff;

    background-color: var(--nord6);
    background-color: var(--white);
    color: var(--nord0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#__next {
    display: flex;
    height: 100%;
}
