.pageHeader {
    background-color: var(--polar0);
    max-width: 500px;
    min-width: 175px;
    width: 25vw;
}

.logotype {
    border-color: var(--polar3);
    border-radius: var(--border-radius);
    border-width: 2px;
    border-style: solid;
    color: var(--snow0);
    display: inline-block;
    padding: var(--padding-md);
}

.logotype:active,
.logotype:focus,
.logotype:hover {
    border-color: var(--white);
    color: var(--white);
}

.workspaceLink {
    color: var(--snow0);
    overflow-x: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.workspaceLink:hover {
    color: var(--white);
}
