.flexContainer {
    display: flex;
    gap: none;
}

.row    { flex-direction: row; }
.column { flex-direction: column; }

.gapxs { gap: var(--margin-xs); }
.gapsm { gap: var(--margin-sm); }
.gapmd { gap: var(--margin-md); }
.gaplg { gap: var(--margin-lg); }
.gapxl { gap: var(--margin-xl); }

.padxs { padding: calc(2 * var(--padding-xs)); }
.padsm { padding: calc(2 * var(--padding-sm)); }
.padmd { padding: calc(2 * var(--padding-md)); }
.padlg { padding: calc(2 * var(--padding-lg)); }
.padxl { padding: calc(2 * var(--padding-xl)); }

.scrollx  { overflow-x: scroll; }
.scrolly  { overflow-y: scroll; }
.scrollxy { overflow: scroll; }
